body{
    background-color: #232524;
    padding: 0;
    margin: 10px 0;
}

.d-null, .d-bool {
    color: #BF7041;
}

.d-string {
    color: #5B7546;
}
.d-array {
    color: #ffffff;
}

.d-int, .d-float {
    color:#7E90A6;
}

